@charset "UTF-8";
 body{
      font-family: 'Noto Sans KR', sans-serif;
		
  }


  
  
/* 검색바*/
  .search {
      width: 100%;
      position: relative;
      display: flex;
  }
  #searchTermcss{
      width: 100%;
      border: solid 3px #FEB95E;
      border-right: none;
      padding: 5px;
      height: 60px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #FEB95E;
  }
  #searchTermcss:focus{
      color: #FEB95E;
  }
  .searchButton {
      width: 60px;
      height: 60px;
      border: 1px solid #FEB95E;
      background: #FEB95E;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
  }
    /*Resize the wrap to see the search bar change!*/
  .wrap{
      width: 100%;
     }



  /*검색결과 멘트*/
  #key-word {
    color: #FEB95E;
    text-align: center;
    padding-top: 10%;
    font-weight: normal;
  }
  
  
  
  /*검색리스트*/
     .result-container .col{
       position: relative; 
       justify-content: center;
       margin-reft : 10px;
     }

     .result-container .row{
       margin-top: 30px;
       margin-bottom: 30px;
     }
	.col{
       margin:  0 auto;
     }
     .card {
       justify-content: center;
       align-content: center;
       position: relative;
     }
  
  
  
  /*페이지넘기는바*/    
  #pagination {
    width: 50%;
    margin: 1% 44%;
  }
  .page-link {
      color: #FEB95E;
  }
  .page-item.active .page-link {
    background-color :#FEB95E;
    border-color :#FEB95E;
  }
  